html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  max-width: 50rem;
  box-shadow: rgba(121, 122, 122, 0.11) 0 0 3rem .7rem;
  box-sizing: border-box;
  color: #202020;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  margin: 0 auto;
}
h1 {
  color:#272727;
  font-size: 2.2rem;
  font-family: 'Slabo 27px', serif;
  font-weight: 300;
  padding: 1em 0 .3rem 0;
}
h2 {
  font-family: 'Slabo 27px', serif;
  font-weight: 300;
  font-size: 1.9rem;
  padding: 1rem 0 .3rem 0;
  text-align: center;
  color: rgb(249, 249, 249);
  text-shadow: rgb(28, 27, 27) 1px 0 .1em;
  text-decoration: underline;
}
h3 {
  font-size: 1.3rem;
  padding: 1rem 0 .3rem 0;
}
h4 {
  font-size: 1.2rem;
  padding: 1rem 0 .3rem 0;
}
p {
  padding: .5rem 0;
}
header {
  background: #403F3F;
  box-shadow: rgba(19, 20, 20, 0.60) 0 0 .2rem .05rem;
}
#hero {
  background: #E7AD40;
  display: flex;
  padding: 2rem 0;
}
#hero > div {
  width: 50%;
  display: flex;
  padding: .5rem .5rem 0 .6rem;
}
.item {
  margin: 0 2px; 
  width: 25%;
  height: .2rem;
}
.first {
  background: #272727;
  margin-top: 2rem;
}
.second {
  background: #9D9D9D ;
  margin-top: 1.5rem;
}
.third {
  background: #F4F6F7;
  margin-top: 1rem;
}
.fourth {
  background: #6C8598;
  margin-top: .5rem;
}
.fifth {
  background: #F4F6F7;
  margin-top: 1rem;
}
.sixth {
  background: #6C8598;
  margin-top: .5rem;
}
.seventh {
  background: #272727;
}
.eighth {
  background: #9D9D9D;
  margin-top: -.5rem;
}
a {
  text-decoration: none;
}
nav {
  text-align: right;
}
.nav-link {
  color: rgba(249, 249, 249, 0.8);
  padding: 0.2rem 1.2rem;
}
.nav-link:hover, .active, .icon:hover, footer a:hover {
  color: #588AAF;
}
nav .fa-text {
  margin-left: .5rem;
  display: none;
}
nav .fa {
  font-size: large;
}
.icon {
  color: rgba(249, 249, 249, 0.8);
  font-size: 1.5rem;
}
main {
  color: #272727;
  padding: 0 .2rem;
  margin: 1rem 0;
}
.section {
  border-bottom: 1px solid rgba(231, 173, 64, 0.5);
  padding: 2rem .5rem;
  margin-top: 1rem; 
}
#profile {
  background-color: rgba(0,0,0, .65);
  color: rgba(249, 249, 249, 0.8);
  text-align: center;
}
.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 0 auto 1rem auto;
  max-width: 400px;
}
.profile-img {
  display: block;
  width: 30%;
  height: auto;
  border-radius: 100%;
  margin-left: 1rem;
}
.profile-intro {
  flex: 1;
}
#email {
  color: rgb(231, 173, 64);
  padding-bottom: .2rem;
}
#projects {
  background: rgba(231, 173, 64, 1)
}
.projects figure {
  margin: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.2) .1rem .2rem .05rem .009rem; */
}
.projects figure:hover {
  box-shadow: rgba(0, 0, 0, 0.4) .1rem .1rem .2rem .01rem;
  transition: all .2s ease-out;
}
.projects img {
  display: block;
  width: 100%;
  height: auto;
}
.projects figcaption{
  box-sizing: border-box;
  width: 100%;
  background: rgba(64, 63, 63, 0.6);
  color: rgba(249, 249, 249, 0.9);
  font-size: .8em;
  text-align: center;
  letter-spacing: .5px;
  padding: 2px 3px;
}
#tools {
  background-color: rgba(0,0,0, .65);
  color: rgba(249, 249, 249, 0.8);
  text-align: center;
}
footer {
  background: rgba(25, 27, 27, 0.85);
  border-top: 1px solid #0F1111;
  color: #f9f9f9;
  padding: 1rem;
  margin-top: 1.5rem;
}
footer a {
  padding: 0 1rem;
}
/* media queries */
@media (min-width: 37.5rem) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .projects a {
    width: 50%;
  }
}
@media screen and (min-width: 50rem) {
  .projects a {
    width: 33.33%;
  }
}